.Wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Wrapper .TopNavbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10vw;
}

.Wrapper .TopNavbar img{
    width: 150px;
}

.Wrapper .TopNavbar .Registration{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.Wrapper .bodyWrapper{
    margin-top: 2%;
}

.Wrapper .bodyWrapper h1{
    font-size: xx-large;
    color: rgb(46, 45, 45);
    max-width:40%;
}

.Wrapper .functionWrapper .functionWrapWrapper{
    display: flex;
    gap:20px
}

.Wrapper .bodyWrapper .eachFunctionWrapper{
    justify-content: center;
    width: 200px;
    height: 100px;
    border: 2px solid #333;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(26, 70, 142, 0.2);
     
}