p{
  color: #615e5e;
}

.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 6vh;
  background-color: #E1F3EF;
  width: 100%;
  margin: 0;
  padding: 0;
}

.Wrapper .TopNavbar {
  margin: 30px 10% 30px 10%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content:space-between;
  
}
.Wrapper .TopNavbar img {
  width: 150px;
}

.Wrapper .TopNavbar .navlinkelements{
  display: flex;
  gap: 50px;
  color: #817B7B;
}

.Wrapper .TopNavbar .navlinkelements h3{
  font-weight: 400;
  
}
/* .Wrapper .TopNavbar .navlinkelements-selected {
 color: #161C28;
} */
.Wrapper .TopNavbar .Registration {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Wrapper .bodyWrapper {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.Wrapper .bodyWrapper .landingHomeWrapper {
 display: flex;
 margin:0 10% 0 10%;
 justify-content: space-between;
 height: 100vh-80px;
 background-color: #E1F3EF;
}

.Wrapper .bodyWrapper .landingHomeWrapper .TextLandingHome{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  max-width: 40%;
}

.Wrapper .bodyWrapper .landingHomeWrapper .TextLandingHome .underline{
  position: relative;
}

.Wrapper .bodyWrapper .landingHomeWrapper .TextLandingHome .underline::after{
  content: '';
  position: absolute;
  min-width: 300px;
  max-width: 80%;
  border-top: solid 7px #0a8677;
  bottom:-35px;
  border-radius:50%;
  height: 8px;
  left: 0;
}

.Wrapper .bodyWrapper .landingHomeWrapper h1 {
  color: rgb(46, 45, 45);
  text-align: left;
  max-width: 70%;
}
.Wrapper .bodyWrapper .landingHomeWrapper img{
  height: 650px;
  object-fit: contain;
}

.Wrapper .bodyWrapper .featuresWrapper{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding:50px 10% ;
  background-color: #F9F8FE;
}

.Wrapper .bodyWrapper .featuresWrapper .featuresSecHeading{
  display: flex;
  flex-direction: column;
  max-width: 30%;
  text-align: left;
  gap: 20px;
}

.Wrapper .bodyWrapper .featuresWrapper .featuresSecHeading >h2{
  font-size: 35px;
  font-weight: 700;
}
.Wrapper .bodyWrapper .featuresWrapper .featuresName{ 
 display: flex;
 gap:20px;
 padding: 20px;
 min-width: 60%;
}

.Wrapper .bodyWrapper .featuresWrapper .featuresName img{ 
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 45px;
  height: 45px;
  object-fit: contain;
}

.Wrapper .bodyWrapper .featuresWrapper .featuresName .featuresNameTextDiv{
  text-align: left;
}

.Wrapper .bodyWrapper .functionWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 30px;
  margin-top: 35px;
}

.functionWrapper >div >h2 {
  font-size: 35px;
  font-weight: 700;
  padding:0 10% 0 10%;
}

.functionWrapper >div >p {
  padding:0 10% 0 10%;

}

.Wrapper .bodyWrapper .functionWrapper .functionWrapWrapper{
  display: flex;
  flex-direction: column;
  gap:30px;
  margin-top: 35px;
}

.Wrapper .bodyWrapper .functionWrapper .functionWrapWrapper .eachFunctionWrapper{
  background-color: white;
  filter: drop-shadow(13px 15px 4px rgba(147, 222, 214, 0.20));
  border-radius: 10px;
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 80%;
  margin: 0 10% 0 10%;
  padding: 40px ;

}

.Wrapper .bodyWrapper .functionWrapper .functionWrapWrapper .eachFunctionWrapper > img{ 
  height: 125px;
  object-fit: contain;
  
}
.eachFunctionWrapperText{
 width: 50%;
 display: flex;
 flex-direction: column;
 gap: 8px;
}

.Wrapper .landingFooterWrapper{
  width: 100%;
  background-color:#161C28;
  color: #E1F3EF;
  height: 250px;
  display: flex;
  gap: 20px;
  text-align: right;
  flex-direction: column ;
  justify-content:center ;
  align-items: center;
}

.Wrapper .landingFooterWrapper div  >img{
  width: 200px;
}

.Wrapper .landingFooterWrapper .landingFooterTermsAndCond{
  display: flex;
  gap: 20px;
  text-align: end;
}

.landingFooterContactSec{
  display: flex;
  gap: 450px;
  color: #F9F8FE;
}


@media screen and (max-width: 900px) {
  .Wrapper .TopNavbar .navlinkelements{
    display: none;
  }


  .Wrapper .bodyWrapper .landingHomeWrapper > img {
    display: none;
  }
  .Wrapper .functionWrapper .functionWrapWrapper {
    align-items: center;
    justify-content: center;
  }
  .Wrapper .bodyWrapper .landingHomeWrapper .TextLandingHome{
    max-width: 75%;
  }
  .Wrapper .bodyWrapper .featuresWrapper {
    flex-direction: column;
    gap: 20px;
  }
  .Wrapper .bodyWrapper .featuresWrapper .featuresSecHeading {
    max-width: 75%;
  }
  .Wrapper .bodyWrapper .functionWrapper .functionWrapWrapper .eachFunctionWrapper > img{ 
    display: none;
  }
  
  .Wrapper .bodyWrapper .functionWrapper .functionWrapWrapper .eachFunctionWrapper .eachFunctionWrapperText{
    width:80%;
  }

} 


