.Wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 10vw 3vh;
  gap: 6vh;
  background-color: #daedeb;
}

.Wrapper .TopNavbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0vw;
}

.Wrapper .TopNavbar img {
  width: 150px;
}

.Wrapper .TopNavbar .Registration {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.Wrapper .bodyWrapper {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.Wrapper .bodyWrapper .landingHomeWrapper {
 display: flex;
}

.Wrapper .bodyWrapper .landingHomeWrapper .TextLandingHome{
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  max-width: 40%;
}

.Wrapper .bodyWrapper .landingHomeWrapper .TextLandingHome .underline{
  position: relative;
}

.Wrapper .bodyWrapper .landingHomeWrapper .TextLandingHome .underline::after{
  content: '';
  position: absolute;
  min-width: 300px;
  max-width: 80%;
  border-top: solid 7px #0a8677;
  bottom:-20px;
  border-radius:50%;
  height: 8px;
  left: 0;
}

.Wrapper .bodyWrapper .landingHomeWrapper h1 {
  color: rgb(46, 45, 45);
  text-align: left;
  max-width: 70%;
}
.Wrapper .bodyWrapper .landingHomeWrapper img{
  height: 700px;
}

.Wrapper .bodyWrapper .featuresWrapper{
  display: flex;
 justify-content: space-between;
  width: 100%;
  background-color: white;
}
.Wrapper .bodyWrapper .featuresWrapper .featuresSecHeading{
  display: flex;
  flex-direction: column;
  max-width: 30%;
  text-align: left;
  gap: 20px;
}

.Wrapper .bodyWrapper .featuresWrapper .featuresName{ 
 display: flex;
 gap:20px;
 padding: 20px;
 min-width: 60%;
}

.Wrapper .bodyWrapper .featuresWrapper .featuresName img{ 
  background-color: white;
  padding: 8px;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.Wrapper .bodyWrapper .featuresWrapper .featuresName .featuresNameTextDiv{
  text-align: left;
}

.Wrapper .bodyWrapper .functionWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.Wrapper .bodyWrapper .functionWrapper .functionWrapWrapper .eachFunctionWrapper{
  display: flex;
  gap: 20px;
}


/*
.Wrapper .functionWrapper {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.Wrapper .functionWrapper > img {
  max-width: 250px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.Wrapper .functionWrapper > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}
.Wrapper .functionWrapper .functionWrapWrapper {
  display: flex;
  gap: 20px;
  width: calc(100%);
  flex-wrap: wrap;
}

.Wrapper .bodyWrapper .eachFunctionWrapper {
  justify-content: center;
  width: calc(100% / 4 - 20px);
  min-height: 220px;
  min-width: 200px;
  height: fit-content;
  border: 2px solid #888585;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(26, 70, 142, 0.2);
  padding: 20px;
}

.Wrapper .bodyWrapper .eachFunctionWrapper h5{
  font-weight: 500;
}
.Wrapper .bodyWrapper .eachFunctionWrapper:hover {
  background-color: #daedeb;
}
.Wrapper .bodyWrapper .eachFunctionWrapper img {
  max-width: 100%;
  width: 100px;
}

@media screen and (max-width: 900px) {
  .Wrapper .functionWrapper > img {
    display: none;
  }
  .Wrapper .functionWrapper .functionWrapWrapper {
    align-items: center;
    justify-content: center;
  }
} */
