.modalPage{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100dvh - 80px);
    text-transform: capitalize;
    padding: 20px;
}

.modalPage >h1{
    font-size: 35px;
    color: rgb(51, 51, 51);
}

.modalPage >div >a{
    color: rgb(45, 45, 210);
}