VITE_SUPABASE_URL=https://gkzzrkcdfbycavuzwbuw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdrenpya2NkZmJ5Y2F2dXp3YnV3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDI2NTM1NzUsImV4cCI6MjAxODIyOTU3NX0.P1Mz4NcMivvuZLrZgLGIeAUDD9bR2gf2q-9YSmS33V0