.studentListWrapper{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
}

.Wrapper > h3{
    color: #0a8677;
    text-align: left;
}

.Wrapper{
    /* margin: 30px; */
    margin: 10px 30px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}