.Wrapper{
    width: 100%;
    padding: 3vh 5vw;
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    height: calc(100vh - 80px);
    overflow-y: scroll;
}

.Wrapper .Header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 25px;
}

.Wrapper .Header >div{
    display: flex;
    gap: 10px;
}