.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 30px 30px;
  width: 100%;
}

.Wrapper > h2 {
  margin-top: 10px;
  color: #8a17d0cc;
  font-weight: 600;
}

.Wrapper .Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.Wrapper .Header > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Wrapper .Header > button {
  padding: 10px 25px;
}

.Wrapper .Header > div button {
  background-color: transparent;
  color: #407bff;
  font-size: 18px;
  font-weight: 600;
}

.Wrapper .Content {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #797878;
  width: 100%;
}

.Wrapper .Content > .Header button {
  background-color: transparent;
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.Wrapper .ModuleContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.ModuleContainer .ModuleWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

.ModuleContainer .ModuleWrapper > button {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-top: 25px solid #8a17d0cc;
  padding: 20px 20px;
  min-width: 180px;
  min-height: 170px;
  text-transform: capitalize;
  cursor: pointer;
}

.ModuleContainer .ModuleWrapper > button > div {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}
.ModuleContainer .ModuleWrapper > button p {
  background-color: #d9d9d9;
  padding: 5px 8px;
  border-radius: 15px;
  font-size: 14px;
}

.ModuleContainer .RightPopUpModuleContainer {
  background-color: white;
  max-width: 420px;
  min-width: 330px;
  padding: 15px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
}

.ModuleContainer .RightPopUpMentorDetailsContainer{
  text-align: left;
  background-color: white;
  max-width: 420px;
  min-width: 330px;
  padding: 15px;
  border-radius: 10px;
}

.ModuleContainer .RightPopUpMentorDetailsContainer .mentorHeader{
  display: flex;
  
}

.ModuleContainer .RightPopUpMentorDetailsContainer .MentorSkills button{
  background-color: #daedeb;
  color:#0a8677 ;
  margin: 5px;
}

.ModuleContainer .Filter {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.filterOpt{
  background-color:#d9f1ee;
  border:2px #0a8677;
  color: #0a8677;
}

.filterOpt :hover{
  background-color: #0a8677;
  color: white;
}

.Filter .filterVideo{
  background-color: #407bff;
}


.ModuleContainer .VideosPDF{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.ModuleContainer .VideosPDF button{
    background-color:#F3F3F3 ;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.moduleDescrBox{
  display: flex;
  flex-direction:column;
}
