.Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 30px 30px;
  width: 100%;
}

.Wrapper > h2 {
  margin-top: 10px;
  color: #8a17d0cc;
  font-weight: 600;
  text-transform: capitalize;
}

.Wrapper .Header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 15px;
}
.Wrapper .Header > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Wrapper .Header > button {
  padding: 10px 25px;
}

.Wrapper .Header > div button {
  background-color: transparent;
  color: #407bff;
  font-size: 18px;
  font-weight: 600;
}

.Wrapper .Content {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #797878;
  width: 100%;
  margin-bottom: 15px;
}

.Wrapper .Content > .Header button {
  background-color: transparent;
  color: black;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
}

.Wrapper .ModuleContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.ModuleContainer .ModuleWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
}

.ModuleContainer .ModuleWrapper > button {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  border-top: 25px solid #8a17d0cc;
  padding: 20px 20px;
  min-width: 180px;
  min-height: 170px;
  text-transform: capitalize;
  cursor: pointer;
}

.ModuleContainer .ModuleWrapper > button:hover {
  background-color:#f4f4f4;
}

.ModuleContainer .ModuleWrapper > button > div {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  width: 100%;
}
.ModuleContainer .ModuleWrapper > button p {
  background-color: #e6e4e4;
  color: #3F3D56;
  padding: 8px 11px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  font-weight: 600;
}

.ModuleContainer .RightPopUpModuleContainer {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  max-width: 420px;
  min-width: 330px;
  padding: 20px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 10px;
}


.ModuleContainer .RightPopUpMentorDetailsContainer{
  text-align: left;
  background-color: white;
  max-width: 420px;
  min-width: 330px;
  padding: 15px;
  border-radius: 10px;
}

.ModuleContainer .RightPopUpMentorDetailsContainer .mentorHeader{
  display: flex;
}

.ModuleContainer .RightPopUpMentorDetailsContainer .MentorSkills > button{
  background-color: #daedeb;
  color:#0a8677 ;
  margin: 5px;
}

.ModuleContainer .Filter {
  display: flex;
  gap: 10px;
  width: 100%;
  flex-wrap: wrap;
}

.filterOpt{
  background-color:#e7f3f1;
  border:2px #0a8677;
  color: #0a8677;
}

.filterOpt:hover{
  background-color: #daedeb;
  color: #09796b;
  font-weight: 600;
}

.Filter .filterVideo{
  background-color: #407bff;
}


.ModuleContainer .VideosPDF{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    cursor: pointer;
    padding: 10px;
}

.ModuleContainer .VideosPDF:hover{
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
}

.ModuleContainer .VideosPDF button{
    background-color:#483e3e ;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.moduleDescrBox{
  display: flex;
  flex-direction:column;
}

.pdfImageSec{
  width: 100%;
  margin: 10px;
}