.Wrapper {
  display: flex;
  width: 100%;
  max-height: calc(100% - 80px);
  padding: 0px 30px 30px;
  flex-direction: column;
  align-items: flex-start;
}

.Wrapper > h3 {
  margin-top: 10px;
  color: #0a8677;
}

.BottonConatiner {
  display: flex;
  width: 100%;
  text-align: left;
  height: 100%;
  overflow-y: scroll;
  flex-wrap: wrap;
}

.BottonConatiner .LeftContainer {
  width: fit-content;
  width: 70%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.BottonConatiner .LeftContainer .InputWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 15px;
}

.BottonConatiner .LeftContainer .InputWrapper > div {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  width: calc(50% - 15px);
  gap: 5px;
}

.BottonConatiner .LeftContainer .checkboxcontainer {
  display: flex;
  gap: 10px;
}
.BottonConatiner .RightContainer {
  width: 30%;
  min-width: 200px;
  padding: 25px;
  position: relative;
}

.BottonConatiner .RightContainer .innerWrapper {
  border-radius: 15px;
  border: 1px solid #797878;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.BottonConatiner .RightContainer .innerWrapper > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.popup {
  max-width: 400px;
  position: absolute;
  top: 20px;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  gap: 15px;
}
.popup > span {
  font-size: 20px;
  padding: 5px;
  background-color: rgb(231, 181, 181);
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  color: white;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: flex-end;
  cursor: pointer;
}

.popup>div{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.error {
  color: red;
}
