.Wrapper {
  width: 100%;
  padding: 0 30px 30px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  flex-wrap: wrap;
  gap: 30px;;
  text-align: left;
} 

.Wrapper h3{
  margin-top: 10px;
  color: #0a8677;
}

.Wrapper .WrapperWrapper{
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.inner_pie{
  background-color: white;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  gap: 20px;
}

.inner_pie h2{
  font-size: 18px;
  align-self: flex-start;
}

.DailyTracker {
  width: 400px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px;
}

.DailyTracker h2 {
  font-size: 18px;
  align-self: flex-start;
}

.DailyTracker h1 {
  font-size: 30px;
  font-weight: 600;
  color: #3b998e;
}

.DailyProgress {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.DailyProgress h2{
  font-size: 18px;
}
.progresspageImg{
  width: 400px;
  float: right;
  margin-top: 20px;
}