.BaseCourseSelectWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 80px);
  overflow-y: scroll;
  text-align: left;
 padding: 0px 30px 30px;
}
.BaseCourseSelectWrapper .TopSet {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.BaseCourseSelectWrapper .TopSet div h3{
  margin-top: 10px;
  color: #0a8677;
}

.BaseCourseSelectWrapper .TopSet .courseWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.BaseCourseSelectWrapper .TopSet .courseWrap > div {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12.203px;
  border: 0.61px solid rgba(142, 152, 168, 0.8);
  background: rgba(255, 255, 255, 0.7);
  padding: 15px;
  min-width: 250px;
}

.BaseCourseSelectWrapper .TopSet .courseWrap > div .Line {
  width: 100%;
  height: 2px;
  background-color: black;
}
.ProgressBar {
  width: 100%;
  height: 7px;
  background-color: #7FECED;
  border-radius: 10px;
  margin-bottom: 10px;
}

.ProgressBarFill {
  height: 100%;
  border-radius: 10px;
  background-color: #17C6D0;
}

.BaseCourseSelectWrapper .BottonSet {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  text-align: center;
}

.BaseCourseSelectWrapper .BottonSet h1{
    font-size: 2rem;
    font-weight: 500;
}
@media screen and (max-width:1100px) {
    .BaseCourseSelectWrapper .TopSet .courseWrap > div{
        width: 45%;
    }
}

@media screen and (max-width:750px) {
    .BaseCourseSelectWrapper .TopSet .courseWrap > div{
        width: 100%;
    }
/*
    .newCourseSwiper{
      padding: 0px;
      background-color: #7FECED;
    }
    
    .BaseCourseSelectWrapper .newCourseSwiper{
      background-color: blue;
      color: aqua;
    }
    */
}