.CourseSwiper {
  width: 100%;
  height: 100%;
  padding: 15px 30px;
}


.CourseSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fffdfd;
  height: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px;
  text-align: left;
  padding:10px 20px ;
  color: rgb(0, 0, 0);
  box-shadow: 0px 4.881px 2px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.2px solid black;
}

.CourseSwiper h2{
  margin-top: 10px;
  margin-bottom: 15px;
  color: rgb(111, 62, 125);
}

.CourseSwiper h4{
  margin-bottom: 15px;
  color: rgb(41, 44, 42);
}

.CourseSwiper p{
  margin-bottom: 15px;
  font-size: 17px;
  font-weight:500;
  color: rgb(49, 46, 46);
}

